{% extends "layout.html.twig" %}

{% set title = "Gestion du groupe" %}

{% block content %}
    <div class="container">
        <h1>Visualisation du groupe</h1>
        <div class="row">
            <div class="form-group col-md-6">
                <input id="user_list_dropdown_input" type="text" name="keyword" class="form-control col-md-12" placeholder="Rechercher">
                <ul id="user_list_dropdown" class="col-md-12">
                </ul>
            </div>
            <div id="user_container" class="col-md-4">

            </div>
        </div>

    </div>
{% endblock %}