{% extends "layout.html.twig" %}

{% set title = epreuve.nom %}

{% block content %}
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ epreuve.nom }} - upload des résultats</h1>
        </div>

        <form action="{{ path_for('resultats.upload', { 'numepreuve': epreuve.idEpreuve }) }}" method="post" enctype="multipart/form-data">
            {{ csrf() }}

            <div class="form-group{% if flash.errors.fichier %} has-error{% endif %}">
                <label for="fichier">Fichier de résultats: </label>
                <input type="file" name="fichier" id="fichier" accept="application/pdf" required>
                {% if flash.errors.fichier %}
                    <span class="help-block">{{ flash.errors.fichier }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Envoyer">
            </div>
        </form>
    </div>
{% endblock %}